config settings 'system'
		#In addition to regular text, api_log_filename and p3d_log_basename may also be
		#a stream enclose in angle brackets (e.g. '<stderr>') or
		#a command to send output to in back quotes (e.g. '`ssh USER@HOST "cat > /tmp/test.log"`').
		#Note that using an SSH tunnel without public key auth will need interaction

        option log_path '/tmp'
        option api_log_filename 'wifibox.log'
        option p3d_log_basename 'print3d'

config settings 'general'
	option printer_type 'ultimaker'
        option gcode_server 'http://gcodeserver.doodle3d.com'
