body {
	width: 80%;
	background-color: #ffe;
}

.catgroup {
	border: 1px solid black;
	padding: 0.5em;
	margin-bottom: 10px;
	background-color: white;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.cattitle {
	display: block;
	margin-left: 3em;
	margin-bottom: 10px;
	font-weight: bold;
}

table.known_nets {
	width: 100%;
}

table.known_nets th, table.known_nets td {
	width: 33%;
}

.result_success {
	font-weight: bold;
	color: black;
}

.result_error {
	font-weight: normal;
	color: red;
}

.hidden {
	display: none;
}
